[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
C=AU
ST=New South Whales
L=Sydney
O=The University of Sydney
OU=SOFT2222
emailAddress=william.sinclair.walker@gmail.com
CN = chatserver

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = chatserver
DNS.2   = localhost
