
.chat-members {
    flex: 1;
    max-height: 100%;
    height: fit-content;
}

.connected-users-wpr {
    margin: 10px;
    display: flex;
}

.chat-user {
    border: 1px solid #80b4d3;
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.dull-input {
    border: 1px solid rgb(138, 138, 138);
}

.chat-user input {
    border: none; 
    outline: none;
    width: 9ch;
    transition: width 0.5s ease;
    font-family: 'Trebuchet MS', sans-serif;
    font: 5px;
}

#suggested_friend {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 14px;
    opacity: 0.3;
    color: black;
}

.hidden_span {
    font: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    padding: 0px;
    width: fit-content;
    background-color: blueviolet;
    position: absolute;
    visibility: hidden;
}

.dull-input span {
    padding: 0px;
    margin-left: -5px;
}

.chat-user input p {
    padding: 0px;
}

.suggestion:hover {
    background-color: #dcedf7;
}
.suggestion:active {
    background-color: #c3d7e2;
}