                            
                            
{% block content %}   
    <style>
        {% include './components/messager/messanger-members/messanger-members.css' %}
    </style> 

    <script>
        function CLEAR_alt_suggestions_dropdown() {
            while (document.getElementsByClassName('suggestion').length > 0) {
                document.getElementsByClassName('suggestion')[0].remove();
            }
        }

        function LOAD_alt_suggestions_dropdown(suggestions) {
            if (suggestions != null) {
                var parent_element = document.getElementById("other_suggestions");
                for (var i = 0; i < suggestions.length; i++) {
                    var element = document.createElement('div');
                    element.innerHTML = `<div onclick='add_user_to_chat_drop_down(this)' class="suggestion"><p id='auto_dropdown_selection'>`+suggestions[i]+`</p></div>`;
                    parent_element.appendChild(element);
                }
            }
        }

        function CLEAR_message_members(member_array) {
            while (document.getElementsByClassName("generic_user_tag").length > 0) {
                document.getElementsByClassName("generic_user_tag")[0].remove();
            }
        }

        function LOAD_message_members(member_array) {
            CLEAR_message_members();
            var parent_element = document.getElementById("connected-users-wpr");
            for (var i = 0; i < member_array.length; i++) {
                var element = document.createElement('div');
                element.innerHTML = `{% include './components/messager/messanger-inchat-usertag/messanger-inchat-usertag.jinja' %}`;
                element.querySelector("#chat-user-name").innerText = member_array[i];
                parent_element.prepend(element);
            }
        }

        socket.on("name_suggestion", (msg, color="black") => {
            CLEAR_alt_suggestions_dropdown();
            suggested_names = JSON.parse(msg)['suggestion'];
 
            if (suggested_names.length == 0) {
                document.getElementById("suggested_friend").innerText = "";
            } else {
                single_name = suggested_names.pop();
                single_name = single_name.substring(document.getElementById("add_friend_chat").value.length)
                document.getElementById("suggested_friend").innerText = single_name;
                LOAD_alt_suggestions_dropdown(suggested_names);
            }

            if (document.getElementById("add_friend_chat").value.length == 0) {
                document.getElementById("suggested_friend").innerText = "";
                document.getElementById("add_friend_chat").style.width = '9ch';
            }
        });

        function add_user_key_type(event) {
            var input_elem = document.getElementById("add_friend_chat");
            if (input_elem.value.length == 0) {
                input_elem.style.width = '9ch';
                document.getElementById("suggested_friend").innerText = "";
            } else {
                var dummy_span = document.getElementById("hidden_span");
                dummy_span.innerText = input_elem.value;
                var dummy_span_width = dummy_span.offsetWidth;

                input_elem.style.width = String(dummy_span_width) + "px";
                socket.emit('get_autocomplete_suggestions',JSON.stringify({sender: user_name, entered: input_elem.value}));
            }
        }

        function add_user_to_chat_auto_entered() {
            CLEAR_alt_suggestions_dropdown();
            var input_elem = document.getElementById("add_friend_chat");
            var suggested_text = document.getElementById("suggested_friend").innerText;

            var entered_test = input_elem.value + suggested_text;
            input_elem.style.width = '9ch';
            input_elem.value = "";
            document.getElementById("suggested_friend").innerText = "";
    
            socket.emit('add_user_to_chat',JSON.stringify({sender: user_name, 'add_user': entered_test, 'chat_room_id': ACTIVE_CHAT_ID}));
        }

        function add_user_to_chat_drop_down(element) {
            event.stopPropagation();
            event.preventDefault();
            
            var new_user = element.querySelector("#auto_dropdown_selection").innerText;
            
            CLEAR_alt_suggestions_dropdown();
            var input_elem = document.getElementById("add_friend_chat");
            input_elem.value = "";
            input_elem.style.width = '9ch';
            document.getElementById("suggested_friend").innerText = "";
            
            socket.emit('add_user_to_chat',JSON.stringify({sender: user_name, 'add_user': new_user, 'chat_room_id': ACTIVE_CHAT_ID}));
        }

    </script>
    
    <div class="chat-members blow-out">

        <div class="chat-members blow-out">
            <div id="connected-users-wpr" class="connected-users-wpr blow-out">
                <span id="hidden_span" class="hidden_span"></span>
                <div class="chat-user dull-input">
                    <input id="add_friend_chat" onchange="add_user_to_chat_auto_entered()" onkeyup="add_user_key_type()" onkeydown="add_user_key_type()" type="add_user" name="add_user" placeholder="ADD USER" />
                    <span id="suggested_friend"></span>

                    <div id="other_suggestions" class="other_suggestions">

                    </div>

                </div>

            </div>
        </div>
    </div>
{% endblock %}