

{% block content %}  

    <style>
        {% include './components/messager/messanger-inchat-usertag/messanger-inchat-usertag.css' %}
    </style> 

    <div class="chat-user generic_user_tag">
        <p id="chat-user-name">William Walker</p>
    </div>
{% endblock %}