
.new_article_container {
    width: fit-content;
    height: 28px;
    padding-top: 10px;
    padding-bottom: 25px;
    margin: auto;
    background-color: white;
}

.main_new_article_btn {
    margin: auto;
    width: fit-content;
    min-width: 20px;
    
    padding-top: 10px;
    padding-bottom: 10px;

    padding-left: 50px;
    padding-right: 50px;

    border-radius: 10px;
    background-color: #a6c0cd;
}
.main_new_article_btn:hover {
    background-color: #a5beca;
}
.main_new_article_btn:active  {
    background-color: #99b4c2;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-top:1px;
    padding-left: 49px;
    padding-right: 49px;
}
.main_new_article_btn p {
    font-family: 'Trebuchet MS', sans-serif;
    margin: 0px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    color: white;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}