.cancel-friend-btn-wpr {
    height:25px;
    width:25px;
    background-color: rgb(255, 67, 67);
    border-radius: 5px;
    margin: auto;
}

.cancel-friend-btn-wpr:hover {
    height:30px;
    width:30px;
    background-color: rgb(255, 67, 67);;
    border-radius: 5px;
    margin: auto;
}
.cancel-friend-btn-wpr:active {
    height:25px;
    width:25px;
    background-color: #be2e2e;;
    border-radius: 5px;
    margin: auto;
}
