{% block content %} 
    <style>
        {% include './components/messager/message_input/message_input.css' %}
    </style> 

    <script>
        function SEND_chat_message(div_element) {
            var parent_element = div_element.parentElement;
            message = parent_element.querySelector("#message_input_textarea").value;
            parent_element.querySelector("#message_input_textarea").value = "";

            if (message.length != "") {
                socket.emit('send_message_to_chat',JSON.stringify({sender: user_name, chat_room_id:ACTIVE_CHAT_ID,message:message}));  
            }
        }
    </script>

    <div class="message_input_wpr">
        <div class="message_input_textarea">
            <textarea id="message_input_textarea" class="message_input blow-out"></textarea>
        </div>
        <div onclick="SEND_chat_message(this);" class="send_message_btn">
            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                <path fill="#ffffff" fill-rule="evenodd" d="M3 4a1 1 0 0 0-.822 1.57L6.632 12l-4.454 6.43A1 1 0 0 0 3 20h13.153a1 1 0 0 0 .822-.43l4.847-7a1 1 0 0 0 0-1.14l-4.847-7a1 1 0 0 0-.822-.43H3Z" clip-rule="evenodd"/>
            </svg>                                      
        </div>
    </div>

{% endblock %}