{% block content %} 
    <style>
        {% include './components/messager/content-cell/content-cell.css' %}
    </style> 
    
    <div onclick="OPEN_chat(this)" chat_room_id="" id="content-cell" class="content-cell">
        <div class="content-cell-flex-wpr">
            <div class="chatname-wpr">
                <p id="chatroom_name_cell">Chat-nameasdasdasdasdasdasdasdasd</p>
            </div>
            <div class="chat-des-wpr">
                <p id="chat_preview">Alex: that is pretty cool</p>
            </div>
        </div>
    </div>
{% endblock %}