

<script>
    function create_user_tag(user_name, user_role) {
        var element = document.createElement('div');
        element.innerHTML = `{% include './components/user_tags/user_tags.jinja' %}`;

        element.querySelector('#user_tag_name').innerText = user_name;

        if (user_role == 1) {
            element.querySelector("#user_role_tag_text").innerText = 'Student';
            element.querySelector("#user_tag_wpr").style.borderColor = 'blue';
        } else if (user_role == 2) {
            element.querySelector("#user_role_tag_text").innerText = 'Staff';
            element.querySelector("#user_tag_wpr").style.borderColor = 'purple';
        } else if (user_role == 3) {
            element.querySelector("#user_role_tag_text").innerText = 'Ad-Staff';
            element.querySelector("#user_tag_wpr").style.borderColor = 'green';
        } else if (user_role == 4) {
            element.querySelector("#user_role_tag_text").innerText = 'Admin';
            element.querySelector("#user_tag_wpr").style.borderColor = 'red';
        }

        element.querySelector("#user_tag_name").value = user_name;
        return element;
    }

</script>



