{% block content %} 
    <style>
        {% include './components/user_tags/user_tags.css' %}
    </style> 

    <div class="tag_wpr">
        <p id="user_tag_name" class="user_tag_name">William</p>
        <div class="user_tag_wpr" id="user_tag_wpr">
            <p class="tag" id="user_role_tag_text">Student</p>
        </div>
    </div>
{% endblock %}
