.message-history {
    width: 100%;
    height: fit-content;
    display: flex;
    margin-bottom: 6px;
    flex-direction: column;
}

.message-sender {
    flex:1;
    width: fit-content;
    padding-left: 15px;
}



.message-content {
    flex:2;
    height: fit-content;
}
.message-content p {
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
    user-select: text;
    font-size: 12px;
}