{% block content %} 
    <style>
        {% include './components/friends-list/friends_list_tile/friends_list_tile.css' %}
    </style> 
    
    <div class="friend_list_row">
        <div class="friend_user_name">
            <div class="username_wpr">
                <p id="username_text">William Walker</p>
            </div>
        </div>

        <div class="status">
            <div id="online-offline" class="online">
            
            </div>
        </div>
    </div>
{% endblock %}