.add-friend-btn-wpr {
    height:20px;
    width:20px;
    background-color: rgb(67, 202, 255);
    border-radius: 5px;
    margin: auto;
}

.add-friend-btn-wpr:hover {
    height:21px;
    width:21px;
    background-color: rgb(67, 202, 255);
    border-radius: 5px;
    margin: auto;
}
.add-friend-btn-wpr:active {
    height:20px;
    width:20px;
    background-color: #1d89b4;
    border-radius: 5px;
    margin: auto;
}
