{% extends 'base.jinja' %}


{% block content %} 

    <style>
        {% include 'index.css' %}
    </style> 

    <center>
        <div class = "login-title">
            |___WELCOME___|
        </div>
        <br></br>
        <div class="description-frame">
            ... to your go-to site for chatting & sharing your knowledge with your friends!
            <br>
            Make new friends, create chatrooms with them, create articles, comment on them and more!
            <br>
            <br>
            Ready to start? <b>Log in</b> or <b>Sign up for free</b> to continue.
        </div>
        <br></br>
        <div class = "login-frame">
            <div class = "username-title">
                Returning user?
            </div>
            <button id="index-login-button" class="login-button">LOGIN</button>
            <br></br>
            <br></br>
            <div class = "password-title">
                New to the site?
            </div>
            <button id="index-signup-button" class="login-button">SIGN UP</button>
        </div>
    </center>

    <script>
    // JavaScript to handle button clicks and redirect
    document.getElementById('index-login-button').addEventListener('click', function() {
        window.location.href = '{{ url_for("login") }}';
    });

    document.getElementById('index-signup-button').addEventListener('click', function() {
        window.location.href = '{{ url_for("signup") }}';
    });
    </script>
    
{% endblock %}
