[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
distinguished_name = dn
req_extensions     = req_ext

[ dn ]
C=AU
ST=NSW
L=Sydney
O=The University of Sydney
OU=INFO2222
emailAddress=lunashin0613@gmail.com
CN = lunaCA

[ req_ext ]
subjectAltName = @alt_names

[ alt_names ]
DNS.1   = lunaCA
DNS.2   = localhost