{% block content %} 
    <style>
        {% include './components/friends-list/friends_request_tile/friends_request_tile.css' %}
    </style> 
    
    <div class="friend_request_list_row">
        <div class="friend_request_user_name">
            <div class="username_wpr">
                <div id="username_request_text"></div>
            </div>
        </div>
        <div class="friend_request_controls">
            <div class="request_controls_btn_wpr">
                {% include './components/friends-list/friends_request_tile/accept_btn/accept_btn.jinja' %}
            </div>
            <div class="request_controls_btn_wpr">
                {% include './components/friends-list/friends_request_tile/reject_btn/reject_btn.jinja' %}
            </div>
        </div>
    </div>
{% endblock %}