.toggle-wpr {
    width: 200px;
    height: 20px;
    margin: auto;
    margin-top: 6.8px;
}

.toggle {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    border: 3px solid #829eac;
    border-radius: 10px;
    display: flex;
}

.switch_division {
    float: 1;
    width: 100%;
}
.switch_division p {
    margin-top: 3.5px;
    font-size: 13px;
    text-align: center;
}

.btn {
    width: 50%;
    height: 105%;
    background-color: #a6c0cd;
    opacity: 50%;
    border-radius: 10px 0px 0px 10px;
    transform: translate(0px,-23px);
    transition: transform 0.1s ease-in-out, border-radius 0.1s ease-in-out;
}
