{% block content %}    
    <style>
        {% include './components/toggle-switch/toggle-switch.css' %}
    </style> 

    <script>
        let state = true;

        function switch_state(element) {
            let highlight = document.getElementById("main_slide_btn");
            let width = (document.getElementById("toggle-page-wpr").getBoundingClientRect()['width']/2)+5;

            var messaging_items = document.getElementById("messaging_items");
            var knowledge_items = document.getElementById("knowledge_items");
            
            if (state) {
                highlight.style.transform = "translate("+width+"px,-23px)";
                highlight.style.borderRadius = "0px 10px 10px 0px";
                state = false;

                messaging_items.style.display = '';
                knowledge_items.style.display = 'none';
                get_state(state);
            } else {
                highlight.style.transform = "translate(0px,-23px)";
                highlight.style.borderRadius = "10px 0px 0px 10px";
                state = true;

                messaging_items.style.display = 'none';
                knowledge_items.style.display = '';
                get_state(state);
            }
        }

        function get_state(state_name) {
            if (state_name) {
                socket.emit('get_articles',JSON.stringify({sender: user_name})); 
            } else { 
                socket.emit('get_chatrooms',JSON.stringify({sender: user_name}));  
            }
        }
        get_state(state);
    </script>
            
    <div onclick="switch_state(this)" id="toggle-page-wpr" class="toggle-wpr">
        <div class="toggle">
            <div class="switch_division">
                <p>Chatroom</p>
            </div>
            <div class="switch_division">
                <p>Articles</p>
            </div>
        </div>
        <div id="main_slide_btn" class="btn"></div>
    </div> 
{% endblock %}